# Ignorar el archivo .env
.env

# Ignorar el directorio venv
venv/

# Ignorar el __pycache__
__pycache__/

# Ignorar el archivo .vscode
.vscode/

# Ignorar la base de datos
db.sqlite3

# Ignorar logs
*.log
