{% load static %}
{% for item in recetas %}
<div class="col d-flex align-items-stretch">
    <div class="card shadow-sm flex-grow-1">
        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ forloop.counter }}">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="{{ item.imagen_default }}" alt="imagen nueva" />

        </a>
        <div class="card-body collapsed">
            <p class="card-text">{{ item.titulo }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary mb-3">Tiempo preparación: {{ item.tiempo_total.2 }} minutos</small>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'core:recetas' slug=item.slug %}" class="btn bg-vino">Ver receta</a>
                <a href="#portfolioModal{{ forloop.counter }}" class="btn bg-vino" data-bs-toggle="modal">Ampliar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}


