{% extends "page/base.html" %}
{% load static %}

{% block extrahead %}
{% endblock extrahead %}

{% block header %}
{% include "page/navbar.html" %}
{% endblock header %}

{% block content %}
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">El txoko del menaje</div>
                <div class="masthead-heading">Compra y descubre utensilios y herramientas</div>
                <a class="btn btn-success btn-xl text-uppercase" href="#services">Explóralos</a>
            </div>
        </header>
<div class="form-container">
<form method="GET">
    {{ form.as_p }}
    <button type="submit">Filtrar</button>
</form>
</div>

<div class="blog-section">
    <div class="container">
        <div class="row">
            {% for receta in object_list %}
            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                <a href="#" class="post-thumbnail"><img src="{% if receta.imagen %}{{ receta.imagen.url }}{% else %}/media/alubias.jpeg.800x600_q85_crop.jpg{% endif %}" alt="Image" class="img-fluid"></a>
                <div class="post-content-entry">
                    <h3><a href="#">{{ receta.nombre }}</a></h3>
                    <p>{{ receta.descripcion }}</p>
                    <div class="meta">
                        <a href="{% url 'core:recetas' slug=receta.slug %}">Ver detalles</a>
                    <span>Puedes comprarlo en <a href="#">{{ receta.link_amazon }}</a></span> <span>o <a href="#">{{ receta.link_amazon }}</a></span>
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
{% include 'page/footer.html' %}
{% endblock footer %}