{% extends "page/base.html" %}
{% load static %}
{% block extrahead %}
{% endblock extrahead %}

{% block header %}
{% include "page/navbar.html" %}
{% endblock header %}

{% block content %}
<header class="masthead" style="background-image: url('{{ imagen_fondo.url }}')">
    <div class="container">
        <div class="masthead-subheading">Hogar y cocina</div>
        <div class="masthead-heading">Compra y descubre aparatos y herramientas</div>
    </div>
</header>

<div class="form-container">
<form method="GET" class="filtro-form">
    <select name="categorias" class="filtro-select">
        <option value="" class="filtro-option">Todas las categorías</option>
        {% for categorias_id, categorias_nombre in form.fields.categorias.choices %}
            <option value="{{ categorias_id }}" class="filtro-option">{{ categorias_nombre|title }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="filtro-button">Filtrar</button>
</form>
</div>

<div class="blog-section">
    <div class="container">
        <div class="row">
            {% for receta in object_list %}
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail">
                        <img src="{% if receta.imagen %}{{ receta.imagen.url }}{% else %}/media/alubias.jpeg.800x600_q85_crop.jpg{% endif %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">{{ receta.nombre }}</a></h3>
                            <p>{{ receta.descripcion }}</p>
                            <div class="meta">
                                <a href="{% url 'aparatos:aparatos_detalle' slug=receta.slug %}">Ver detalles</a>
                                <span><a href="{{ receta.link_amazon }}" target="_blank" >
                                  <button class="amazon-button">Comprar en Amazon</button>
                                  </a>
                                </span>
                            </div>
                        </div>
                        <h3 class="mt-5 mb-3">Modelos Asociados:</h3>
                        <ul>
                            {% for modelo in receta.modelos_set.all %}
                                <li class="text-pan"><a class="text-vino" href="{% url 'aparatos:modelo_detalle' modelo.slug %}">{{ modelo.nombre }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link pagination-button-separate" href="?page=1" aria-label="Primera">
        <span aria-hidden="true">&laquo; Primera</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link pagination-button-separate" href="?page={{ page_obj.previous_page_number }}" aria-label="Previa">
        <span aria-hidden="true">Previa</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link pagination-button-separate" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
        <span aria-hidden="true">Siguiente</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link pagination-button-separate" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
        <span aria-hidden="true">Última &raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}

{% block footer %}
{% include 'page/footer.html' %}
{% endblock footer %}