{% extends "page/base.html" %}
{% load static %}

{% block extrahead %}
{% endblock extrahead %}

{% block header %}
{% include "page/navbar.html" %}
{% endblock header %}

{% block content %}
<div class="modelo-detail">
    <h1>{{ object.nombre }}</h1>
    {% if object.imagen %}
        <img src="{{ object.imagen.url }}" alt="{{ object.nombre }}">
    {% else %}
        <p>No hay imagen disponible</p>
    {% endif %}
    <p>Características: {{ object.caracteristicas_modelo }}</p>
    <p>Año: {{ object.año }}</p>
    <p>Link de Amazon: <a href="{{ object.link_amazon }}">{{ object.link_amazon }}</a></p>
</div>
{% endblock content %}

{% block footer %}
{% include 'page/footer.html' %}
{% endblock footer %}
